@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
:root {
  --black-color: #000;
  --light-color: #686868;
  --main-color: #ff523b;
  --color-mix: #ffd6d6;
  --white-color: #fff;
  --color-mix: radial-gradient(#fff, #ffd6d6);
}
span {
  color: var(--main-color);
}
.header {
  box-shadow: 0px 0px 5px var(--black-color);
  padding: 0 100px;
}
nav {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
nav .nav-menu {
  display: none;
}
nav .logo {
  display: flex;
  justify-content: center;
}
nav .logo img {
  width: 150px;
  height: auto;
}
nav ul {
  display: flex;
  padding: 20px;
}
nav ul li {
  padding: 5px;
}
nav ul li a {
  color: var(--black-color);
  padding: 8px 15px;
  font-size: 17px;
  border-radius: 10px;
}
nav ul li a.active,
nav ul li a:hover {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 0.6em;
  transition: all 0.5s;
}
/* main */
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: var(--color-mix);
  padding: 0 100px;
}
.img img {
  width: 450px;
}
/* login */
form {
  width: 350px;
  height: 420px;
  background: var(--white-color);
  border: 1px solid #ccc;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  text-align: center;
}

.display {
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
.form-login {
  transition: all 0.3s;
  padding: 0 22px;
}
.form-signin {
  transition: all 0.3s;
  padding: 0 20px;
}

.log-sing {
  padding: 40px 0;
  text-align: center;
  width: 100%;
  height: auto;
}
.btn {
  cursor: pointer;
  padding: 0 20px;
  color: var(--black-color);
  font-size: 20px;
}
.main-line {
  width: 100%;
  height: auto;
}
.line {
  width: 75px;
  height: 5px;
  overflow: hidden;
  margin: 0 80px;
  background-color: var(--main-color);
}

.username,
.email,
.password {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
  display: flex;
  padding: 5px;
  justify-content: center;
  border: 1px solid var(--black-color);
  border-radius: 20px;
}

.username-icon,
.email-icon,
.password-icon {
  width: 35px;
  display: grid;
  place-content: center;
  padding-right: 10px;
  color: var(--main-color);
}

.username input,
.email input,
.password input {
  width: 240px;
  border: none;
  background: none;
  outline: none;
  color: var(--black-color);
}
input::placeholder {
  color: var(--black-color);
}
.section {
  color: var(--black-color);
  font-size: 12px;
  height: 20px;
  display: flex;
  justify-content: center;
}
.section input {
  margin-right: 3px;
  accent-color: var(--black-color);
  width: 12px;
}
.section a {
  color: var(--black-color);
  margin-left: 65px;
  text-decoration: none;
}
.section a:hover {
  text-decoration: underline;
}
button {
  width: 100%;
  background: var(--main-color);
  height: 40px;
  color: var(--white-color);
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
  border: none;
}
.sign {
  font-size: 14px;
  margin-top: 25px;
  color: #fff;
}
.sign a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.sign a:hover {
  text-decoration: underline;
}
/* footer */
footer {
  background-color: var(--black-color);
  width: 100%;
  height: 13pc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
/* doa */
.doa h1 {
  color: var(--white-color);
  font-size: 15px;
  padding: 5px 0;
}
.doa p {
  color: var(--light-color);
  font-size: 13px;
  /* padding: px 0; */
}
.doa-img img {
  width: 120px;
  padding: 10px 0;
}
/* info */
.info {
  text-align: center;
}
.info-img img {
  width: 30%;
}
.info p {
  color: var(--light-color);
  width: 25pc;
  text-align: center;
}
/* list */
.list {
  text-align: center;
}
.list-title {
  color: var(--white-color);
  padding: 10px 0;
}
.list-name {
  color: var(--light-color);
}
@media (max-width: 1200px) {
  /* footer */
  footer {
    text-align: center;
    height: auto;
    display: grid;
    place-content: center;
    gap: 20px;
    padding: 20px 0;
  }
  .info p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1080px) {
  .header {
    padding: 0 50px;
  }
  nav {
    /* border: 1px solid #000; */
    padding: 0;
    z-index: 100;
  }
  nav .nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .nav-menu {
    display: block;
  }
  nav .nav-menu i {
    font-size: 20px;
    right: 50px;
    top: 35px;
    position: absolute;
  }
  nav ul {
    display: grid;
    gap: 10px;
    text-align: right;
    background-color: #363636;
    width: 100%;
    position: absolute;
    top: 90px;
    left: -70pc;
    z-index: 10;
    transition: all 0.3s ease;
  }
  nav ul li a {
    color: #fff;
    font-size: 20px;
  }
  /* main */
  .main {
    display: grid;
    place-content: center;
    padding: 30pc 0;
  }
  .img {
    padding: 20px 0;
  }
  .img img {
    width: 25pc;
  }
}
@media (max-width: 600px) {
  nav ul li a {
    font-size: 17px;
  }
  .img img {
    width: 22pc;
  }
  form {
    width: 330px;
    height: 420px;
  }
  .line {
    width: 80px;
    margin: 0 67.5px;
  }
  .username,
  .email,
  .password {
    width: 280px;
  }
  .username-icon,
  .email-icon,
  .password-icon {
   padding-left: 15px;
  }
  .form-signin{
    margin: 0 18px;
  }
}
