@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
:root {
  --black-color: #000;
  --light-color: #686868;
  --main-color: #ff523b;
  --color-mix: radial-gradient(#fff, #ffd6d6);
  --white-color: #fff;
}
span {
  color: var(--main-color);
}
.header {
  box-shadow: 0px 0px 5px var(--black-color);
  padding: 0 100px;
}
/* nav */
nav {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
nav .nav-menu {
  display: none;
}
nav .logo {
  display: flex;
  justify-content: center;
}
nav .logo img {
  width: 150px;
  height: auto;
}
nav ul {
  display: flex;
  padding: 20px;
}
nav ul li {
  padding: 5px;
}
nav ul li a {
  color: var(--black-color);
  padding: 8px 15px;
  font-size: 17px;
  border-radius: 10px;
}
nav ul li a.active,
nav ul li a:hover {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 0.6em;
  transition: all 0.5s;
}
/*  */
.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 100px;
}
.main-img {
  width: 500px;
  /* border: 1px solid #000; */
  text-align: center;
  margin: 0 30px 0 0;
}
.main-img-box img {
  width: 420px;
  padding: 0 10px;
}
.main-img-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-img-product img {
  width: 100px;
  padding: 8px 5px;
  border-radius: 10px;
  cursor: pointer;
}
/*  */
.price {
  padding: 10px 0;
  color: var(--light-color);
  font-weight: 800;
}
.select {
  border-color: var(--white-color);
  padding: 8px;
  font-size: 12px;
  margin: 10px 0;
  background-color: var(--white-color);
  outline: 1px solid var(--main-color);
}
.number {
  width: 50px;
  padding: 5px;
  outline: 1px solid var(--main-color);
  border: none;
}
.size-button {
  padding: 10px 0;
}
button {
  width: 150px;
  padding: 8px;
  border-radius: 20px;
  outline: none;
  background-color: var(--main-color);
  border: 1px solid var(--white-color);
  color: var(--white-color);
  cursor: pointer;
}
.main-info {
  width: 35pc;
  margin: 15px 0;
}
.main-info p {
  color: var(--light-color);
  font-size: 15px;
  padding: 10px 0;
}
/* products */
.products {
  padding: 10px 100px;
  width: 100%;
  height: auto;
}
.products-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.products-title {
  color: var(--black-color);
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  text-underline-offset: 0.6em;
  text-decoration-color: #ff523b;
}
.products-box {
  text-align: center;
  padding: 10px 20px;
}
.products-box:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
}
.products-img img {
  border-radius: 10px;
  width: 200px;
}
.product-star {
  display: flex;
  justify-content: center;
  color: var(--main-color);
}
/* footer */
footer {
  background-color: var(--black-color);
  width: 100%;
  height: 13pc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
/* doa */
.doa h1 {
  color: var(--white-color);
  font-size: 15px;
  padding: 5px 0;
}
.doa p {
  color: var(--light-color);
  font-size: 13px;
}
.doa-img img {
  width: 120px;
  padding: 10px 0;
}
/* info */
.info {
  text-align: center;
}
.info-img img {
  width: 30%;
}
.info p {
  color: var(--light-color);
  width: 25pc;
  text-align: center;
}
/* list */
.list {
  text-align: center;
}
.list-title {
  color: var(--white-color);
  padding: 10px 0;
}
.list-name {
  color: var(--light-color);
}
@media (max-width: 1200px) {
  /* footer */
  footer {
    text-align: center;
    height: auto;
    display: grid;
    place-content: center;
    gap: 20px;
    padding: 20px 0;
  }
  .info p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1080px) {
  .header {
    padding: 0 50px;
  }
  nav {
    /* border: 1px solid #000; */
    padding: 0;
    z-index: 100;
  }
  nav .nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .nav-menu {
    display: block;
  }
  nav .nav-menu i {
    font-size: 20px;
    right: 50px;
    top: 35px;
    position: absolute;
  }
  nav ul {
    display: grid;
    gap: 10px;
    text-align: right;
    background-color: #363636;
    width: 100%;
    position: absolute;
    top: 90px;
    left: -70pc;
    z-index: 10;
    transition: all 0.3s ease;
  }
  nav ul li a {
    color: #fff;
    font-size: 20px;
  }
  .main-box {
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .main-img-product {
    justify-content: center;
  }
  .main-img-product img {
    /* width: 20%; */
    padding: 5px 5px;
  }
  .main-title {
    margin-top: 20px;
  }
  .main-info {
    width: 30pc;
  }
}
@media (max-width: 600px) {
  nav ul li a {
    font-size: 17px;
  }
  .products-title{
    font-size: 20px;
  }
  .main-img-box img {
    width: 90%;
  }
  .main-img-product {
    justify-content: center;
  }
  .main-img-product img {
    width: 20%;
    padding: 5px 5px;
  }
  .main-title {
    font-size: 13px;
    padding: 10px 50px;
  }
  .main-info {
    width: auto;
  }
}
