@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
:root {
  --black-color: #000;
  --light-color: #686868;
  --main-color: #ff523b;
  --color-mix: radial-gradient(#fff, #ffd6d6);
  --white-color: #fff;
}
span {
  color: var(--main-color);
}
.header {
  box-shadow: 0px 0px 5px var(--black-color);
  padding: 0 100px;
}
/* nav */
nav {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
nav .logo {
  display: flex;
  justify-content: center;
}
nav .logo img {
  width: 150px;
  height: auto;
}
nav ul {
  display: flex;
  padding: 20px;
}
nav ul li {
  padding: 5px;
}
nav ul li a {
  color: var(--black-color);
  padding: 8px 15px;
  font-size: 17px;
  border-radius: 10px;
}
nav ul li a.active,
nav ul li a:hover {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 0.6em;
  transition: all 0.5s;
}
/*  */
.main-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
}
.main-img{
  width: 500px;
  /* border: 1px solid #000; */
  text-align: center;
  margin: 0 30px 0 0;
}
.main-img-box img{
  width: 420px;
  padding: 0 10px;
}
.main-img-product{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-img-product img{
  width: 100px;
  padding: 8px 5px;
  border-radius: 10px;
}
/*  */
.price{
  padding: 10px 0;
  color: var(--light-color);
  font-weight: 800;
}
.select{
  border-color: var(--white-color);
  padding: 8px;
  font-size: 12px;
  margin: 10px 0;
  outline: 1px solid var(--main-color);
}
.number{
  width: 50px;
  padding: 5px;
  outline: 1px solid var(--main-color);
  border: none;
}
.size-button{
  padding: 10px 0;
}
button{
  width: 150px;
  padding: 8px;
  border-radius: 20px;
  outline: none;
  background-color: var(--main-color);
  border: 1px solid var(--white-color);
  color: var(--white-color);
  cursor: pointer;
}
.main-info{
  width: 70%;
  margin: 15px 0;
}
.main-info p{
  color: var(--light-color);
  font-size: 15px;
  padding: 10px 0;  
}