@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
:root {
  --black-color: #000;
  --light-color: #686868;
  --main-color: #ff523b;
  --color-mix: radial-gradient(#fff, #ffd6d6);
  --white-color: #fff;
}
span {
  color: var(--main-color);
}
.header {
  background: var(--color-mix);
  height: auto;
  padding: 0 100px;
}
nav {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
nav .logo {
  display: flex;
  justify-content: center;
}
nav .logo img {
  width: 150px;
  height: auto;
}
nav .nav-menu{
  display: none;
}
nav ul {
  display: flex;
  padding: 20px;
}
nav ul li {
  padding: 5px;
}
nav ul li a {
  color: var(--black-color);
  padding: 8px 15px;
  font-size: 17px;
  border-radius: 10px;
}
nav ul li a.active,
nav ul li a:hover {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 0.6em;
  transition: all 0.5s;
}
/* home */
.home {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 100px;
}
.home-titles {
  padding: 0px 10%;
}
.home-h1 {
  font-size: 50px;
}
.home-h2 {
  width: 35pc;
  margin-top: 10px;
  font-size: 15px;
}
.home-btn {
  margin-top: 30px;
}
.home-btn a {
  padding: 12px 25px;
  border-radius: 40px;
  font-size: 15px;
  background: var(--main-color);
  color: var(--white-color);
}
.home-bts a:hover {
  box-shadow: 1px 1px 10px var(--main-color);
}
.home-img img {
  width: 450px;
}
/* images */
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
}
.img-category {
  padding: 40px 20px;
}
.img-category img {
  width: 18pc;
}
.img-category img:hover {
  transition: all 0.5s;
  transform: translateY(-10px);
}
/* products */
.products {
  padding: 0 100px;
  width: 100%;
  height: auto;
}
.products-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.products-title {
  color: var(--black-color);
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  text-underline-offset: 0.6em;
  text-decoration-color: #ff523b;
}
.products-box {
  text-align: center;
  padding: 10px 20px;
}
.products-box:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
}
.product-info{
  color: var(--black-color);
}
.products-img img {
  border-radius: 10px;
  width: 220px;
}
.product-star {
  display: flex;
  justify-content: center;
  color: var(--main-color);
}
/* Band */
.band {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
  width: 100%;
  height: auto;
  background: var(--color-mix);
}
.band-img img {
  width: 300px;
}
.band-title {
  text-align: center;
  width: 50%;
  padding: 0 2px;
}
.band-name {
  font-size: 30px;
}
.band-info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px 0;
}
.band-btn a {
  padding: 10px 25px;
  background: var(--main-color);
  color: var(--white-color);
  border-radius: 20px;
  font-size: 15px;
}
.band-btn a:hover {
  box-shadow: 1px 1px 10px var(--main-color);
}
/* review */
.review {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;
  text-align: center;
  width: 100%;
  height: auto;
}
.review-box {
  width: 20pc;
  height: 32pc;
  margin: 10px 20px;
  border-radius: 20px;
  border: 1px solid var(--black-color);
}
.review-box:hover {
  box-shadow: 0px 1px 5px var(--black-color);
  transition: all 0.3s;
}
.review-icon {
  color: var(--main-color);
  padding: 10px 0;
  font-size: 20px;
}
.review-info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.review-img img {
  width: 50%;
  border-radius: 50%;
  padding: 10px 0;
}
.review-name {
  color: var(--main-color);
  font-size: 18px;
}
/* company */
.company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0 100px;
  margin: 15px 0px;
}
.company-logo img {
  padding: 0 10px;
  width: 200px;
}
.company-logo img {
  filter: grayscale(100%);
}
.company-logo img:hover {
  filter: grayscale(0);
}
/* footer */
footer {
  background-color: var(--black-color);
  width: 100%;
  height: 13pc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
/* doa */
.doa h1 {
  color: var(--white-color);
  font-size: 15px;
  padding: 5px 0;
}
.doa p {
  color: var(--light-color);
  font-size: 13px;
}
.doa-img img {
  width: 120px;
  padding: 10px 0;
}
/* info */
.info {
  text-align: center;
}
.info-img img {
  width: 30%;
}
.info p {
  color: var(--light-color);
  width: 25pc;
  text-align: center;
}
/* list */
.list {
  text-align: center;
}
.list-title {
  color: var(--white-color);
  padding: 10px 0;
}
.list-name {
  color: var(--light-color);
}
@media (max-width : 1200px) {
  nav{
    padding: 0 10px;
  }
  .home{
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
  }
  .home-h2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* band */
  .band-title{
    margin: 10px 0;
  }
  /* footer */
  footer{
    text-align: center;   
    height: auto;
    display: grid;
    place-content: center;
    gap: 20px;
    padding: 20px 0;
  } 
  .info p{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width : 1080px){
  .header{
    padding: 0 50px;
  }
  nav{
    /* border: 1px solid #000; */
    padding: 0;
    z-index: 100;
  }
  nav .nav-icons{
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  nav .nav-menu{
    display: block;
  }
  nav .nav-menu i{
    font-size: 20px;
    right: 50px;
    top: 35px;
    position: absolute;
  }
  nav ul {
    display: grid;
    gap: 10px;
    text-align: right;
    background-color: #363636;
    width: 100%;
    position: absolute;
    top: 90px;
    left: -70pc;
    z-index: 10;
    transition: all 0.3s ease; 
  }
   nav ul li a{
     color: #fff;
     font-size: 20px;
   }
   .img-category{
    padding: 20px 50px;
   }
   .img-category img{
    width: 15pc;
   }
  }
  @media (max-width: 600px) {
    nav ul li a {
      font-size: 17px;
    }
    .home-titles{
      padding: 0;
    }
  .home-h1{
    font-size: 35px;
  }
  .home-img{
    margin-top: 30px;
  }
  .home-img img{
    width: 100%;
  }
  .products-title{
    font-size: 20px;
  }
  .band{
    padding: 40px 0px;
  }
  .band-name{
    font-size: 25px;
  }
  .band-title{
    width: 80%;
  }
  .band-info{
    width: 100%;
  }
  .review{
    padding: 20px 30px;
  }
}